/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "HalvarBreit-Rg";

  src: url("./HalvarBreitschriftRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HalvarBreit-Bd";

  src: url("./HalvarBreitschriftBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}
